<template>
  <v-app>
    <v-card class="rounded-0">
      <v-app-bar fixed dark>
        <v-btn icon>
          <v-avatar color="rgb(213, 67, 72)" size="45"></v-avatar>
        </v-btn>

        <v-toolbar-title>La Dalle Angevine</v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-text>
          <v-btn color="white" elevation="5"
            ><span class="black--text">Articles</span></v-btn
          >
        </v-toolbar-text>

        <template v-slot:extension>
          <v-tabs align-with-title>
            <v-tab @click="category_currently = 'cat-1'">cat-1</v-tab>
            <v-tab @click="category_currently = 'cat-2'">cat-2</v-tab>
            <v-tab @click="category_currently = 'cat-3'">cat-3</v-tab>
          </v-tabs>
        </template>
      </v-app-bar>
    </v-card>
    <v-container style="margin-top: 200px" class="mb-5">
      <v-row class="d-flex justify-sm-center justify-lg-start">
        <span v-for="n in news" :key="n">
          <span v-if="category_currently === n.category">
            <v-card class="mx-5 mt-5" max-width="550" elevation="10">
              <v-img
                class="white--text align-end"
                height="200px"
                :src="n.image"
              >
                <v-card-title class="display-1">{{ n.title }}</v-card-title>
              </v-img>

              <v-card-text class="text--primary text-justify">
                {{ n.description }}
              </v-card-text>

              <v-card-actions>
                <v-btn color="rgb(213, 67, 72)" text> Faire un don </v-btn>
              </v-card-actions>
            </v-card>
          </span>
        </span>
      </v-row>
    </v-container>
  </v-app>
</template>
<script>
export default {
  name: "App",

  data() {
    return {
      category_currently: "cat-1",
      news: [
        {
          category: "cat-1",
          title: "-----TITLE_1-----",
          image: "img/img.jpg",
          description:
            "Lorem Ipsum is simply dummy text of the printing and typesettintypesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem g industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-2",
          title: "-----TITLE_2-----",
          image: "img/img_2.jpg",
          description:
            "Lorem Ipsum is simply dummy text of the printing the industypesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem try's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-1",
          title: "-----TITLE_1-----",
          image: "img/img.jpg",
          description:
            "Lorem Ipsum is simply dummy textLorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-1",
          title: "-----TITLE_1-----",
          image: "img/img.jpg",
          description:
            "Lorem Ipsum is simply dummy text of the pd typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-1",
          title: "-----TITLE_1-----",
          image: "img/img.jpg",
          description:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-2",
          title: "-----TITLE_2-----",
          image: "img/img_2.jpg",
          description:
            "Lorem Ipsum is simply dummy textetd dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-3",
          title: "-----TITLE_3-----",
          image: "img/img_3.jpg",
          description:
            "Lorem Ipsum is simply dummy textetd dummy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-2",
          title: "-----TITLE_2-----",
          image: "img/img_2.jpg",
          description:
            "Lorem Ipsum is simply dummy text of the printing and tytypesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem pesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-3",
          title: "-----TITLE_3-----",
          image: "img/img_3.jpg",
          description:
            "Lorem Iprem Ipsum is simplymy Lorem Ipsum is si Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-3",
          title: "-----TITLE_3-----",
          image: "img/img_3.jpg",
          description:
            "Lorem Ipsum is simply dummy textetd dummy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-2",
          title: "-----TITLE_2-----",
          image: "img/img_2.jpg",
          description:
            "Lorem Ipsum is simply dummy text of thypesetting industry. Lorem typesetting industry. L industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-3",
          title: "-----TITLE_3-----",
          image: "img/img_3.jpg",
          description:
            "Lorem Ipsum is simply d Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-2",
          title: "-----TITLE_2-----",
          image: "img/img_2.jpg",
          description:
            "Lorem Ipsum is simply dummy text of the printing and tytypesetti and tytypesetti and tytypesetti and tytypesetti and tytypesetti and tytypesetti and tytypesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem typesetting industry. Lorem pesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
        {
          category: "cat-3",
          title: "-----TITLE_3-----",
          image: "img/img_3.jpg",
          description:
            "Lorem Ipsum is simply dummy textetd dummy Lorem Ipsum is simplymy Lorcymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymyymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simplymy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy",
          link: "",
        },
      ],
    };
  },
};
</script>
