<template>
  <div>
    <Carte-components />
    <Pagination-Component />
  </div>
</template>

<script>
import CarteComponents from "@/components/CarteComponents.vue";
import PaginationComponent from "@/components/PaginationComponent.vue";
import axios from "axios";

export default {
  name: "HomeView",
  components: {
    CarteComponents,
    PaginationComponent,
  },
  data() {
    return {
      medias: []
    }
  },
  methods: {
    async getMedias() {
      console.log('getMedias');
      const response = await axios.get("/medias/get")
      this.medias = response.data
    }
  },
  watch: {
    medias() {
      console.log('Modifier : ', this.medias)
    }
  },
  mounted() {
    console.log('mounted');

    this.getMedias();

    // const test = await axios.get("/medias/get")
    // console.log('test : ', test);
  }
};
</script>
