<template>
  <v-container>
    <router-link to="/article">
      <v-card class="my-12">
        <v-card-title class="">Lorem ipsum dolor sit amet.</v-card-title>
        <v-divider class=""></v-divider>
        <p class="py-4 px-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </v-card>
    </router-link>
  </v-container>
</template>

<style scoped>
a {
  text-decoration: none;
}
</style>
<script>
export default {
  name: "HelloWorld",
};
</script>
