<template>
  <v-app>
    <v-app-bar app color="dark" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <span class="mr-2">La Dalle Angevine</span>
      </div>

      <v-spacer></v-spacer>

      <v-btn href="#" text>
        <router-link to="/about"> des projets</router-link>
      </v-btn>
    </v-app-bar>
    <v-main>
      <div>
        <router-view></router-view>
      </div>
    </v-main>
  </v-app>
</template>

<script>
// import HomeView from "./views/HomeView.vue";

// export default {
//   components: { HomeView },
//   name: "App",
// };
</script>
